:root {
  --primary-color: #CBBACC; /* Light mauve */
  --secondary-color: #2580B3; /* Deep sky blue */
  --accent-color: #EBA3B6; /* Pale pink */
  --light-accent: #F7E3AF; /* Pale yellow */
  --background-gradient: linear-gradient(-225deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  --text-color: #333333; /* Dark grey text */
  --shadow-color: rgba(0, 0, 0, 0.2); /* Light box shadow color */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background-gradient);
  color: var(--text-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--text-color);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--accent-color);
}

/* Hero Section */
.hero-section {
  background: var(--background-gradient);
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  max-width: 60%;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero-section .hero-text {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 10px;
  text-align: left;
  max-width: 100%;
}

.hero-img {
  border-radius: 15px;
  max-width: 300px;
  margin-left: 20px;
  padding: 0;
}

.container.d-flex.flex-column.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.d-flex.flex-row.align-items-center.w-100 {
  display: flex;
  align-items: center;
  width: 100%;
}

.hero-section .btn-primary {
  font-size: 1.25rem;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero-section .btn-primary:hover {
  background-color: var(--light-accent);
  border-color: var(--light-accent);
  color: white;
}

/* Projects Section */
.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.card {
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  margin-bottom: 20px;
}

.card:hover {
  background-color: var(--secondary-color);
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: white;
}

.btn-primary:hover {
  background-color: var(--light-accent);
  border-color: var(--light-accent);
  color: white;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px 0;
}

.small-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: auto;
}

.social-icons {
  margin-top: 10px; /* Adjust spacing as needed */
}

.social-icon {
  font-size: 24px;
  margin: 0 5px;
  color: #007bff; /* Adjust color as needed */
}

.social-icon:hover {
  color: var(--accent-color); /* Adjust hover color as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-section {
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section h2 {
    font-size: 1.75rem;
  }

  .hero-section .hero-text {
    font-size: 1.2rem;
  }

  .hero-img {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  h2 {
    font-size: 2rem;
  }

  .container.d-flex.flex-row.align-items-center.w-100 {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section h2 {
    font-size: 1.5rem;
  }

  .hero-section .hero-text {
    font-size: 1rem;
  }

  .hero-section .btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
