:root {
  --primary-color: #9c27b0; /* Purple */
  --secondary-color: #f48fb1; /* Pink */
  --light-purple: #ba68c8; /* Lighter purple */
  --light-pink: #f8bbd0; /* Light pink */
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
  /* Apply radial gradient background */
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
  color: #333; /* Optional: Set a default text color */
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  color: #6c63ff; /* Change h1 color to purple */
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.bg-light {
  background: var(--secondary-color) !important;
}

.project-card {
  margin-bottom: 30px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Button Styles */
.btn-primary {
  background-color: var(--light-purple); /* Lighter purple */
  border-color: var(--light-purple);
  color: white;
}

.btn-primary:hover {
  background-color: var(--light-pink); /* Light pink */
  border-color: var(--light-pink);
}

.btn-outline-primary {
  color: var(--light-purple); /* Lighter purple */
  border-color: var(--light-purple);
}

.btn-outline-primary:hover {
  background-color: var(--light-pink); /* Light pink */
  color: white;
}

.btn-outline-secondary {
  color: var(--secondary-color); /* Pink */
  border-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
  background-color: var(--secondary-color); /* Pink */
  color: white;
}
